services:
    db:
        image: postgres:15
        container_name: product_db
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: product_db
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - app_network

    redis:
        image: redis:7
        container_name: product_redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - app_network

    app:
        build: .
        container_name: product_api
        restart: unless-stopped
        ports:
            - "5000:5000"
        env_file: .env
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_healthy
        volumes:
            - .:/usr/src/app
        networks:
            - app_network

volumes:
    postgres_data:
    redis_data:

networks:
    app_network:
        driver: bridge
